@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";
  --font-body: "Inter", "sans-serif";
}

body {
  margin: 0;
  padding: 0;
  background-color: #050505; /* Deep dark background */
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  overflow: hidden; 
}

#root {
  width: 100vw;
  height: 100vh;
}
